article {
  padding: 0 40px;
}

body {
  background-color: ghostwhite;
  font-family: 'Courier New', Courier, monospace;
  color: darkslateblue;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: slateblue;
  color: #fff
}

.active-page {
  list-style-type: '-';
}

.active-page button {
  text-decoration: underline;
}

.link-expand {
  padding: 0 5px;
}

h1 {
  color: darkslateblue;
}

aside {
  background-color: slateblue;
  color: white;
  padding: 10px;
  width: 450px;
}

aside a {
  color: white;
}

aside p, aside h3 {
  padding-left: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  height: 300px;
  width: 50%;
}

nav ul {
  list-style-type: '>';
  margin: 0;
}

.box {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  height: 250px;
  width: 300px;
}

.box p {
  margin: auto;
}

.bg-salmon {
  background-color: salmon;
  color: #ffffff;
}

.outline-dotted {
  border: dashed 3px slateblue;
}

.hidden {
  display: none;
}

#item-full-screen:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.full-screen button {
  margin: auto;
}

.full-screen button:active {
  border: none;
  outline: none;
}
